
# Created by https://www.gitignore.io/api/codeblocks,visualstudiocode

### CodeBlocks ###
# specific to CodeBlocks IDE
*.layout
*.depend

# generated directories
bin/
obj/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# End of https://www.gitignore.io/api/codeblocks,visualstudiocode